<!DOCTYPE html>
<html lang="en" ng-app="myAppModule">
<head>
	<meta charset="UTF-8">
	<title>Add a Question</title>
</head>
<body>
	<h1>Add A Question</h1>
	<div ng-controller="QuestionController" class="col-md-5 well">
		<form>
			<div  >
				<label>Question</label>
				<input type="text" ng-model="newQuestion.topic">
			</div>
			<div  >
				<label>Correct Answer</label>
				<input type="text" ng-model = "newQuestion.correctAnswer" class="input-control">
			</div>
			<div  >
				<label>Fake Answer1</label>
				<input type="text" ng-model = "newQuestion.fakeAnswer1" class="input-control">
			</div>
			<div >
				<label>Fake Answer2</label>
				<input type="text" ng-model = "newQuestion.fakeAnswer2" class="input-control">
			</div>
			<div>
					<input type="submit" ng-click="add_question()">
			</div>
		
		</form>
	</div>
	
</body>
</html>