<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Users</title>
</head>
<body>
	<div ng-controller="UsersController">
		<h1>All Users</h1>
		<table class="table table-bordered">
			<thead>
				<th>User Name</th>
				<th>Score</th>
				<th>Created On</th>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
					<td>{{user.user_name}}</td>
					<td>{{user.score}}</td>
					<td>{{user.created_at|date:'MM/dd/yyyy @ h:mma'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</body>
</html>